.footer {
  display: flex;
  justify-content: space-between;
}

.footer-links {
  font-size: 25px;
}

.footer h6{
  font-size: 12px;
}

.footer-time{
    margin-top: 10px;
  font-size: 14px;
}

.fa-heart {
  color: red;
}
