<div class="footer">
  <div class="footer-links">
<!--     <a href="https://www.instagram.com/greggstyle/" target="_blank"><i class="fab fa-instagram"></i></a> -->

        <a href="https://m.facebook.com/La-villa-Bar-Resto-243914133008842" target="_blank"><i class="fab fa-facebook"></i></a>
<!--     <a href="https://twitter.com/greggstyle" target="_blank"><i class="fab fa-twitter"></i></a> -->
  </div>
  <div class="footer-time">
<p>Nous sommes le <%= Time.now.strftime("%d:%m:%Y") %> et il est <%= Time.now.strftime("%H:%M") %> <p>
</div>

  <div class="footer-copyright">
    <h6> © 2018 with <i class="fa fa-heart"></i></h6>
  </div>
</div>
