<div class="footer">
  <div class="footer-links">
    <!--     <a href="https://www.instagram.com/greggstyle/" target="_blank"><i class="fab fa-instagram"></i></a> -->

    <a href="https://www.facebook.com/Synfoundry-155724941749096/" target="_blank"><i class="fab fa-facebook"></i></a>
    <!--     <a href="https://twitter.com/greggstyle" target="_blank"><i class="fab fa-twitter"></i></a> -->
  </div>

<!--   <div class="footer-time">
    <%= link_to "About", about_path %> |
    <%= link_to "Contact", contact_path %>
  </div> -->
  <div class="footer-time">
    <p> <%= Time.now.strftime("%d/%m/%Y") %> - <%= Time.now.strftime("%H:%M") %> <p>
    </div>

    <div class="footer-copyright">
      <h6> © 2018 with <i class="fa fa-heart"></i></h6>
    </div>
  </div>
