<div class="navbar-synfoundry">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-synfoundry-brand" do %>
    <%#= image_tag "https://res.cloudinary.com/greggstyle/image/upload/v1532592349/Villa85/LOGO.jpg", height: 50 %>
  <% end %>


<%#= link_to "Menus", menu_path, class: "navbar-synfoundry-item navbar-synfoundry-link" %>

<%= link_to "Contact", contact_path, class: "navbar-synfoundry-item navbar-synfoundry-link" %>

<%= link_to "About", about_path, class: "navbar-synfoundry-item navbar-synfoundry-link" %>



</div>
