<div class="navbar-synfoundry">



<%#= link_to "Menus", menu_path, class: "navbar-synfoundry-item navbar-synfoundry-link" %>

<%#= link_to "Contact", contact_path, class: "navbar-synfoundry-item navbar-synfoundry-link" %>

<%#= link_to "About", about_path, class: "navbar-synfoundry-item navbar-synfoundry-link" %>



</div>
