

   <%= link_to "logo", root_path, class: "btn btn-danger btn-xs" %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">


      <div id="contact">
        <%= render 'contact_form' %>
      </div>

      <br>
      <br>
<p> Updated CyberAttack: <a href="http://map.norsecorp.com/#/"> Map NorseCorp</a>  </p>
    </div>
  </div>
</div>

