

   <%#= link_to "logo", root_path, class: "btn btn-danger btn-xs" %>
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-synfoundry-brand" do %>
    <%= image_tag "https://res.cloudinary.com/greggstyle/image/upload/v1536620314/SynFoundry/logo-synfoundry-dark.png", height: 80 %>
  <% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">


      <div id="contact">
        <%= render 'contact_form' %>
      </div>

      <br>
      <br>
<p> CyberAttack: <a href="http://map.norsecorp.com/#/" target="_blank"> Map NorseCorp</a>  </p>
    </div>
  </div>
</div>

